# Uncomment beneth line, when in mercurial.
# syntax: glob

# vi/vim temprary files
*~
*.swp
*.swc

# python binary files
*.pyc

# database files
*.db
database
*.database
database/*.txt
database/*.dat
database/*.gz
database/*.csv
database/*.zip

# binary image files
*.jpg
*.jpeg
*.png
*.gif
*.svg

# fabfiles
fabfile.*

# binary data file
*.dat

# no php file
*.php
*.inc

# neco test report file
test/report.txt
*.report

# coffee script
*.coffee

# c/c++ core dump
core

# binary file
*.node
build/*

# wscript files
.lock-wscript

# npm files
npm-*.log
.npmignore
